<div class="ui tiny modal">
  <div class="header">Choose a nickname, please</div>
  <div class="content">
    <p>
      Hey, you've been invited to this room by a link. This means that you have
      to select a nickname now.
    </p>
    <div class="ui center aligned grid">
      <div class="ui form">
        <form action="javascript:void(0);" class="ui form">
          <div class="field">
            <input
              id="nickname-input"
              required
              minlength="3"
              placeholder="nickname"
            />
          </div>
          <div style="text-align: center" class="field">
            <button
              type="submit"
              id="submit-nickname-button"
              class="ui positive button"
            >
              Confirm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
