<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DISPARTY</title>
</head>

<body>

    <header>
        <h1>DISPARTY</h1>
    </header>

    <section>
        <div>
            <a href="/new-room"><button>New room</button></a>
        </div>
        <div>
            <h3>Join existing room</h3>
            <form id="join-form" action="/join-room">
                <input name="room-id" type="text">
            </form>
            <button type="submit" form="join-form">Join</button>
        </div>
    </section>
    <footer>

    </footer>

</body>

</html>