<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DISPARTY</title>
</head>

<body>

    <header>
        <h1>DISPARTY</h1>
    </header>

    <section>
        <div>
            <a href="/new-room"><button>New room</button></a>
        </div>
        <div>
            <h3>Join existing room</h3>
            <form id="join-form" action="/join-room">
                <input name="room-id" type="text">
            </form>
            <button id="paste-button">Paste</button>
            <button type="submit" form="join-form">Join</button>
        </div>
    </section>
    <footer>

    </footer>

</body>
<script>
    // Helper function to paste from clipboard to textfield - for developing purposes only.
    const pasteButton = document.querySelector('#paste-button');
    pasteButton.addEventListener('click', function(event) {
        const inputField = document.getElementById('join-form').elements['room-id'];
        navigator.clipboard.readText().then(text =>
            inputField.value = text);
    });
</script>
</html>