<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="/homepage.js" defer></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <title>Disparty-peer to peer video streaming service</title>
  </head>

  <body>
    <header style="margin-top: 10px" class="ui huge center aligned header">
      <h1 style="font-size: 200%">DISPARTY</h1>
    </header>
    <div class="container">
      <div class="ui padded row placeholder container segment">
        <form class="ui form" id="join-form" action="/join-room">
          <div class="ui center aligned container">
            <h2 style="margin: 30px 0" class="ui center aligned header">
               First enter your nickname
            </h2>
            <div class="ui input">
              <input
                id="nickname"
                required
                type="text"
                minlength="3"
                oninvalid="validateField(this)"
                placeholder="nickname"
              />
            </div>
          </div>
          <div class="ui center aligned container">
            <h2 style="margin: 30px 0" class="ui center aligned header">
              And then choose to join an existing room or create a new one
            </h2>
          </div>
          <div class="ui two column stackable center aligned grid">
            <div class="middle aligned row">
              <div class="column">
                <div class="ui icon header">
                  <i class="door open icon"></i>
                  Join existing room
                </div>
                <div class="field">
                  <div class="ui action input">
                    <input
                      type="text"
                      minlength="4"
                      name="room-id"
                      id="room-id"
                      placeholder="Enter room Id"
                    />
                    <button
                      class="ui icon button"
                      type="button"
                      id="paste-button"
                    >
                      <i class="paste icon"></i>
                    </button>
                  </div>
                </div>
                <div class="field">
                  <button
                    id="join-room-btn"
                    type="submit"
                    form="join-form"
                    class="ui primary button"
                    onclick="makeRoomIdRequired()"
                  >
                    Join room
                  </button>
                </div>
              </div>
              <div class="column">
                <div class="ui icon header">
                  <i class="plus circle icon"></i>
                  Create a new room
                </div>
                <div class="field">
                  <button
                    formaction="/new-room"
                    style="width: fit-content"
                    class="ui primary button"
                    onclick="makeRoomIdNotRequired()"
                  >
                    Create
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="ui container">
        <h2 class="ui top attached header">What is disparty?</h2>
        <div class="ui attached segment">
          <span class="ui large text"
            ><p>
              Disparty is a decentralized, peer to peer communication platform.
              It offers chat, webcam streaming and streaming of local video so
              friends and family can watch a movie together remotely.
            </p>
          </span>
        </div>
      </div>
    </div>
  </body>
  <script></script>
</html>
