<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <title>Disparty-peer to peer video streaming service</title>
  </head>

  <body>
    <header>
      <h1 class="ui center aligned header">DISPARTY</h1>
    </header>
    <div class="ui placeholder segment">
      <div class="ui two column stackable center aligned grid">
        <div class="middle aligned row">
          <div class="column">
            <div class="ui icon header">
              <i class="door open icon"></i>
              Join existing room
            </div>
            <form class="ui form" id="join-form" action="/join-room">
              <div class="field">
                <div class="ui action input">
                  <input
                    type="text"
                    name="room-id"
                    placeholder="Enter room Id"
                  />
                  <button
                    class="ui icon button"
                    type="button"
                    id="paste-button"
                  >
                    <i class="paste icon"></i>
                  </button>
                </div>
              </div>
              <div class="field">
                <button
                  id="join-room-btn"
                  type="submit"
                  form="join-form"
                  class="ui primary button"
                >
                  Join room
                </button>
              </div>
            </form>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="plus circle icon"></i>
              Create a new room
            </div>
            <div class="field">
              <a href="/new-room">
                <div class="ui primary button">Create</div></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    // const joinButton = $("#join-room-btn").click(() => {
    //   window.location.replace(
    //     window.location + "join-room/room-id=" + $("#room-id").val()
    //   );
    // });
    // $("#room-id").change((e) => {
    //   console.log($("#room-id").val());
    // });
    // Helper function to paste from clipboard to textfield - for developing purposes only.
    const pasteButton = document.querySelector("#paste-button");
    pasteButton.addEventListener("click", function (event) {
      const inputField = document.getElementById("join-form").elements[
        "room-id"
      ];
      navigator.clipboard.readText().then((text) => (inputField.value = text));
    });
  </script>
</html>
