<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/room.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.7.2/simplepeer.min.js"
      defer
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script>
      ROOM_ID = "<%- roomId %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/helpers.js" defer></script>
    <script src="/room.js" defer></script>
    <script src="/videoPlaybackHandle.js" defer></script>
    <script src="/dataStructures.js" defer></script>
    <script src="/chat.js" defer></script>
    <script src="/templates/chatWindow.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/styles/chat.css" />
  </head>

  <body>
    <%- include ('partials/modal.ejs') %>
    <header>
      <h1>Welcome to room <i><%= roomId %></i></h1>
    </header>
    <div>
      <a href="/"><button>Back</button></a>
      <button id="copy-button">Copy room id</button>
    </div>
    <section>
      <div id="chat-container"></div>
      <div id="video-grid"></div>
    </section>
  </body>
</html>
